[Unit]
Description=PipeWire with Inferno Dante Sink
After=statime.service dbus.service
Requires=dbus.service

[Service]
Type=simple
ExecStart=/usr/local/bin/start-pipewire.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
